.accordion{
    text-align: center;
}

header {
    font: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 25px;
    color: #5085A5;
    text-align: center;

}

header img {
    float: none;
    width: 140px;
    height: 180px;
    padding-right: 10px;
}

button {
    font: 'Montserrat', sans-serif;
}

.card {
    background-color: #e1eef7;
}

.btn {
    font-size: 20px;
    color: black;
}

.btn-link:hover {
    color: #5085A5;
    text-decoration: none;
}

.card-body {
    background-color: white;
}

p {
    font-size: 17px;
    color: #2b79ae;
}

