<html ng-app="rpm">
<head>
<link rel="icon" type="image/ico" href="/assets/branding/images/favicon.png"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Security-Policy" content="
                        default-src * data: blob: ws: wss: gap://ready file://*;
                        style-src * 'unsafe-inline';
                        script-src * 'unsafe-inline' 'unsafe-eval';
                        connect-src * ws: wss:;">
<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">

<!-- JS Libraries -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
<script src="/common/libraries/jQuery/jquery.ba-throttle-debounce.min.js"></script>
<script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- jQuery Touch Punch -->
<script src="/node_modules/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- JsPDF -->
<script src="/common/libraries/jspdf/jspdf.min.js"></script>
<script src="/common/libraries/jspdf/plugins/plugins.min.js"></script>

<!-- jszip -->
<script src="/common/libraries/jszip/jszip.min.js"></script>

<!-- FileSaver -->
<script src="/common/libraries/FileSaver/FileSaver.min.js"></script>

<!-- Croppie -->
<script src="/common/libraries/croppie/croppie.min.js"></script>

<!-- Angular -->
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="/node_modules/angular-ui-sortable/dist/sortable.min.js"></script>
<script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="/node_modules/angular-inview/angular-inview.js"></script>

<!-- Moment.js -->
<script src="/common/libraries/moment/moment.min.js"></script>
<script src="/common/libraries/moment/moment-timezone-with-data.min.js"></script>

<!-- Date Time Picker -->
<script src="/common/js/bootstrap-datetimepicker.min.js"></script>
<script src="/common/js/bootstrap-datetimepicker-locales.min.js"></script>

<!-- Chart.js -->
<script src="/common/libraries/charts/Chart.js"></script>
<!--<script src="common/libraries/charts/chartjs-plugin-annotation.js"></script>-->

<!-- Stylesheets -->
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" type="text/css" rel="stylesheet">
<link href="/node_modules/jquery-ui-dist/jquery-ui.min.css" type="text/css" rel="stylesheet">
<link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" type="text/css" rel="stylesheet">
<link href="/common/css/tactio.css?v=AUTOMATED_NUMBER" type="text/css" rel="stylesheet">
<link href="/common/css/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet">
<link href="/common/css/layout.css?v=AUTOMATED_NUMBER" type="text/css" rel="stylesheet">
<link href="/common/css/mobile.css?v=AUTOMATED_NUMBER" type="text/css" rel="stylesheet">
<link href="/common/css/loading.css?v=AUTOMATED_NUMBER" type="text/css" rel="stylesheet">
<link href="/common/css/croppie.css?v=AUTOMATED_NUMBER" type="text/css" rel="stylesheet">

<!-- Branding -->
<link href="/assets/branding/branding.css?v=AUTOMATED_NUMBER" type="text/css" rel="stylesheet">

<!-- Global Variables -->

<!-- App Controllers -->
<!-- Common -->

<!-- 6000 -->

<!-- 7001 -->

<!-- Authoring -->

<!-- Modules -->






<!-- App Services -->

<!-- Javascript Objects -->

<script src="/mergeJavaScriptFile.min.js?v=AUTOMATED_NUMBER"></script>
<script src="/common/libraries/webrtc/webrtc.github.io_adapter_adapter-latest.js"></script>
<script src="/common/libraries/webrtc/gstatic.com_firebase-app.js"></script>
<script src="/common/libraries/webrtc/gstatic.com_firebase-auth.js"></script>
<script src="/common/libraries/webrtc/gstatic.com_firebase-database.js"></script>


<script>

(function() {
    var lastTouch = 0;
    function preventZoom(e) {
        var t2 = e.timeStamp;
        var t1 = lastTouch || t2;
        var dt = t2 - t1;
        var fingers = e.touches.length;
        lastTouch = t2;

        if (!dt || dt >= 300 || fingers > 1) {
            return;
        }
        resetPreventZoom();
        e.preventDefault();
        e.target.click();
    }
    function resetPreventZoom() {
        lastTouch = 0;
    }

    document.addEventListener('touchstart', preventZoom, false);
    document.addEventListener('touchmove', function(event) {
            event = event.originalEvent || event;
            if(event.scale > 1) {
                event.preventDefault();
            }
        }, false);

})();

</script>

</head>
<body ng-controller="mainController" data-ng-init="init()">
<div id="alert" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alertModal">
  <div class="modal-dialog alert modal-sm">
    <div class="modal-content">
       	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>{{ alert.title }}</strong></h4>
   		</div>
  		<div class="modal-body" ng-bind-html="alert.message">
      </div>	
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="close-alert" ng-click="alert.onAlertClosed()">{{ localization.okKey }}</a>
      </div>      
    </div>
  </div>
</div>
<div id="tip" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tipModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>{{ tip.title }}</strong></h4>
      </div>
      <div class="modal-body" ng-bind-html="tip.message">
      </div>  
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="close-alert">{{ localization.okKey }}</a>
      </div>  
    </div>
  </div>
</div>
<div id="body-page-wrapper" class="admin login-background" ng-controller="loginForm" data-ng-init="init()">

    <div class="page-load"><div class="page-load-box"></div></div>
    <div id="cookies-banner" ng-if="showCookiesBanner">
        {{ localization.cookiesAgreementKey }}
        <a id="link-cookies" href="{{ localization.agreementCookiesUrlKey }}">{{ localization.cookiesMoreInfoKey }}</a>
        <a id="accept-cookies" href="#" ng-click="dismissCookiesBanner()">{{ localization.cookiesAcceptKey }}</a>
    </div>
    <div id="login-container" class="text-center">
        <img src="assets/branding/images/welcomeLogo.png"><br>
        <div class="partnership-footer" ng-if="$parent.citcSwitches['twCcShowTactioPartnershipLogo']"><br><br><strong>{{ localization.inPartnershipWithKey }}</strong>&nbsp;&nbsp;<img src="assets/images/tactioPartnershipLogo.png"><br><br></div>
        <h1 ng-bind-html="rpm6000AppName"></h1>

        <!--[if IE]>
        <span><p>Sorry, Internet Explorer is not supported.<p>Use <a href="https://www.google.com/chrome/">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/">Firefox</a> instead.</span>
        <![endif]-->
        <div id="ie-not-supported">
            <span><p>Sorry, Internet Explorer is not supported.<p>Use <a href="https://www.google.com/chrome/">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/products/">Firefox</a> instead.</span>
        </div>
        <!--[if !IE]><!-->
        <div class="load-container" ng-style="loader">
            <div class="login-load-spinner"></div>
        </div>
        <div id="sign-in" class="ease-out absolute-full-width" ng-hide="showTfa || showTfaSetup || showOAuth2Authentication">
            <span ng-bind-html="login.status"></span>
            <form name="loginForm" ng-submit="submitForm()" ng-style="loginFields" style="display:none;" method="POST">
                <div class="form-group text-left top-field">
                    <input type="string" class="form-control" autocomplete="off" ng-model="login.username" placeholder="{{localization.loginPlaceholderKey}}">
                </div>
                <div class="form-group text-left middle-field">
                    <input type="password" class="form-control" id="password" autocomplete="off" ng-model="login.password" placeholder="{{localization.Password}}">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default btn-block login" type="submit" name="login" value="login">{{localization.loginKey}}</button>
                </div>
                <a href="sysOpLogin.php" target="_self" ng-if="$parent.citcSwitches['twCcAllow7001LoginPage']" class="login-switch">{{localization.sysAdminLoginKey}}&nbsp;&nbsp;|</a>&nbsp;&nbsp;<a href="#" target="_self" class="login-switch" ng-click="showForgotPassword()">{{localization.forgotPasswordKey}}</a>
            </form>
        </div>
        <div id="cps-sign-in" class="ease-out absolute-full-width" ng-show="showOAuth2Authentication">
            <span ng-bind-html="login.status" ng-style="loginFields"></span>

            <form name="loginForm" ng-style="loginFields" style="display:none;">

                <div class="form-group text-center middle-field">{{localization.insertCpskey}}</div>
                <div class="form-group text-center">
                    <br>
                    <br>
                    <button class="submit" ng-click="authentifyOAuth2()">{{ localization.buttonCpsLoginDescription }}</button>
                </div>
            </form>
        </div>
        <div id="tfa" class="ease-out absolute-full-width" ng-show="showTfa">
            <span ng-bind-html="login.status"></span>
            <form name="loginForm" ng-submit="submitTfaCode()" ng-style="loginFields" method="POST">
                <div class="form-group text-left top-field">
                    <input type="string" class="form-control" autocomplete="off" ng-model="login.tfaCode" placeholder="{{localization.codeKey}}">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default btn-block login" type="submit" name="login" value="login">{{localization.inviteKey}}</button>
                </div>
                <div class="form-group text-center">
                    <br>
                    <a href="#" target="_self" ng-click="sendNewTfaCode()">{{ localization.didNotGetTFAcodeKey }}</a>
                </div>
            </form>
        </div>
        <div id="tfaSetup" class="ease-out absolute-full-width" ng-show="showTfaSetup">
            <span ng-bind-html="login.status"></span>
            <form name="loginForm" ng-submit="submitTfaPhoneNumber()" ng-style="loginFields" method="POST">
                <div class="form-group text-left top-field">
                    <input type="string" class="form-control" autocomplete="off" ng-model="login.phoneNumber" placeholder="{{localization.phoneNumber}}">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default btn-block login" type="submit" name="login" value="login">{{localization.submitKey}}</button>
                </div>
            </form>
        </div>
        <div id="forgot-password" class="ease-out absolute-full-width hidden-right">
            <div ng-show="forgotPassword.status" class="form-group alert login" role="alert">{{ forgotPassword.status }}</div>
            <form name="forgotPassword" ng-submit="submitForgotPassword()" ng-style="forgotPasswordFields">
                <div class="form-group text-left top-field">
                    <input type="string" class="form-control" autocomplete="off" ng-model="forgotPassword.email" placeholder="{{localization.email}}">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default btn-block login" type="submit" name="submit" value="submit">{{localization.submitKey}}</button>
                </div>
            </form>
            <div class="form-group text-left">
                <a class="btn btn-default signIn-switch-button btn-block" style="float:left; text-transform:capitalize;" ng-click="showLogin()">‹&nbsp;&nbsp;{{localization.back}}&nbsp;</a>
            </div>
        </div>
        <!--<![endif]-->
    </div>
    
<div id="eula" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eulaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><strong>{{ localization.eulaTitleKey }}</strong></h4>
      </div>
      <div class="modal-body">
        <!-- LEGAL MENTIONS -->
      </div>  
      <div class="modal-footer">
        <a href="logout.php" ng-click="$parent.clearCookies()" target="_self" class="cancel">{{ localization.decline }}</a>
        <a href="#" data-dismiss="modal" ng-click="acceptEula()" class="submit">{{ localization.acceptKey }}</a>
      </div>  
    </div>
  </div>
</div>    
<div class="copyright {{ hideNotificationPanel ? 'full-width left-zero' : '' }}"><span ng-bind-html="localization.webCopyrightKey"></span> | WebRPM v.{{ $parent.appConfigs.appVersion }} | <a href="#" data-toggle="modal" data-target="#legal-mentions">{{ localization.thirdLicensesKey }}</a></div>

<div id="legal-mentions" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="legalMentionsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><strong>{{localization.thirdLicensesKey}}</strong></h4>
      </div>
      <div class="modal-body" ng-bind-html="localization.legalNoticesWeb6000">
        <!-- LEGAL MENTIONS -->
      </div>  
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="close-alert">{{ localization.okKey }}</a>
      </div>  
    </div>
  </div>
</div>


</div>

</div><!-- body page wrapper -->

<script src="/common/js/svg-parser.js"></script>
<script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/common/js/bootstrap-validator.js"></script>
<script src="/common/js/elastic.js"></script>

</body>
</html>

